#faq {
    position: relative;
    background: url("../assets/pokemonbg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
  }
  
  #faq::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    /* Gradient from left (black) to right (transparent) */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0));
    
    z-index: -1; /* Keeps it between background image and content */
  }
  